/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #1b1b1b;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 500;
}

header {
  padding: 0.625em;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.5);
  background-color: #efefef;
}

img {
  width: 100%;
}

nav {
  width: 100%;
}

a {
  color: #67A1FF;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #67A1FF;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #67A1FF;
}
a:active { /* selected link */
  color: #67A1FF;
}
a:hover,
a:focus {
  color: #67A1FF;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.send {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
  padding: 10px;
}

.button {
  display: block;
  background-color: #1b1b1b;
  color: #f3f3f3;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #67A1FF;
  transition: 0.2s opacity;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active { /* selected button */
  color: #f3f3f3;
}
.button:visited {
  color: #f3f3f3;
}
.resume {
  width: 200px;
}

/* Layout styling */

.container {
  padding: 0 15px;
  width: 100%;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
}
#hero p {
  text-align: center;
}
#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.center {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}
nav > ul > li > a:visted {
  color: #4a4a4a;
}
nav > ul > li > a:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
nav > ul > li > a:active {
  color: #1b1b1b;
}

.social_links {
  font-size: 50px;
  text-align: center;
  color: #67A1FF;
}

.social_links li {
  display: inline-block;
}

/* FitNext */

.writing h3 {
  color: #8605F9;
}

.part_1_intro {
  background-color: #1b1b1b;
}
#title_part {
  color: #D4AEF7;
}
.black {
  background-color: #1b1b1b;
}
.black h2 {
  text-align: center;
  color: #8605F9;
}
.black h4 {
  text-align: center;
  color: #ffffff;
}
.part_1_intro p {
  color: #ffffff;
}
.part_2_intro p {
  color: #ffffff;
}
.part_3_intro p {
  color: #ffffff;
}
.part_4_intro p {
  color: #ffffff;
}
.part_5_intro p {
  color: #ffffff;
}

.purple {
  background-color: #8605F9;
  color: #ffffff;
}
.purple p {
  padding: 10px;
}
.bold {
  font-weight: bold;
}
.playfair {
  font-family: 'Playfair Display', serif;
}

.part_2_intro {
  background-color: #1b1b1b;
}

.part_3_intro {
  background-color: #1b1b1b;
}

.part_4_intro {
  background-color: #1b1b1b;
}

.part_5_intro {
  background-color: #1b1b1b;
}

.features h3 {
  color: #8605F9;
}

.end {
  background-color: #8605F9; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #FA0000, #8605F9);
}

/* furreverr */

.intro {
  background-color: #E2EDFF;
}
.overview h2 {
  color: #B1A3FF;
}
.overview h3 {
  color: #A0C4FF;
}

.pain_points {
  background-color: #A0C4FF;
}
.pain_points h2 {
  color: #D9E7FF;
}

.color_scheme h2 {
  color: #B1A3FF;
}
.typography h2 {
  color: #B1A3FF;
}
.typography {
  font-family: 'AvenirNext' , sans-serif;
}

.homepage h2 {
  color: #B1A3FF;
}

.userflow {
  background-color: #D9E7FF;
}
.userflow h2 {
  color: #A0C4FF;
}

.features_furrever h2 {
  color: #B1A3FF;
}
.features_furrever h3 {
  color: #A0C4FF;
}

.wireframes {
  background-color: #D9E7FF;
}
.wireframes h2 {
  color: #A0C4FF;
}
.wireframes p {
  text-align: center;
}

/* VetMD */

.intro_vet {
  background-color: #efefef;
}
.vet_logo {
  background-color: #CAEBF2;
}
.blue_b {
  background-color: #CAEBF2;
}
.overview_vet h3 {
  color: #7AD9ED;
}
.didot {
  font-family: 'Didot' , serif;
}
.arial {
  font-family: 'Arial' , sans-serif;
}
.intro_vet {
  background-color: #efefef;
}
.blue_t {
  color: #7AD9ED;
}
.problem_statement {
  background-color: #efefef;
  box-shadow: 3px 0px 6px 0px rgba(50, 50, 50, 0.5);
}
.grey {
  color: #545454;
}
.userflows {
  background-color: #efefef;
}
.usability_testing {
  background-color: #efefef;
}
#results .header {
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
#results .second {
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
#results .third {
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
#results .fourth {
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
#results .fifth {
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
#results .sixth {
  padding-bottom: 5px;
  border-bottom: 1px solid #efefef;
}
.features_vet {
  background-color: #efefef;
}
.features_vet h3 {
  color: #7AD9ED;
}
.end_vet {
  background-color: #efefef;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0px 13px;
  }

  nav {
    width: auto;
    margin-top: 27px;
    display: inline-block;
    float: right;
  }
  .logo {
    width: 35%;
    display: inline-block;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
