/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #1b1b1b;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 500;
}

header {
  padding: 0.625em;
  text-align: center;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.5);
  background-color: #efefef;
}

img {
  width: 100%;
}

a {
  color: #1b1b1b;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #67A1FF;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #67A1FF;
}
a:active { /* selected link */
  color: #67A1FF;
}
a:hover,
a:focus {
  color: #67A1FF;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.send {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

.logo {
  max-width: 250px;
  display: block;
  padding: 10px;
}

.button {
  display: inline-block;
  background-color: #1b1b1b;
  color: #f3f3f3;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #67A1FF;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active { /* selected button */
  color: #f3f3f3;
}
.button:visited {
  color: #f3f3f3;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
}
#hero p {
  text-align: center;
}
#hero {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.center {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}
nav > ul > li > a:visted {
  color: #4a4a4a;
}
nav > ul > li > a:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
nav > ul > li > a:active {
  color: #1b1b1b;
}

.social_links {
  font-size: 50px;
  text-align: center;
}

.social_links li {
  display: inline-block;
}

.contact {
  text-align: center;
}
