/*
Colors used:
Primary Color (Blue): #05676e;
Secondary Color (Green): #489c79;
*/
body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

a {
  color: #1b1b1b;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #67A1FF;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #67A1FF;
}
a:active { /* selected link */
  color: #67A1FF;
}
a:hover,
a:focus {
  color: #67A1FF;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #1b1b1b;
  color: #f3f3f3;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #67A1FF;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button:active { /* selected button */
  color: #f3f3f3;
}
.button:visited {
  color: #f3f3f3;
}
